*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    color: white;
    padding-top: 4%;
    padding-left: 10%;
}
.container .heading{
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 20px;
}
.container .heading img{
    width: 60px;
}

.container .btn{
    display: flex;
    align-items: center;
    background-color: rgb(63, 201, 114);
    padding: 15px 20px;
    gap: 10px;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.container button img{
    width: 25px;
    
}


.input-box{
    position: relative;
    width: 90%;
    max-width: 450px;
    color: black;
    min-height: 100px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 20px;
}

.input-box img{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 25px;
    cursor: pointer;
}